    <nav class="site-nav">
      <div class="trigger">
        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>
<header class="site-header">
    <div class="wrapper">
       <div class="title-area">
        <h1 class="site-title">
             <a href="{{ site.baseurl }}" title="{{ site.baseurl }}" rel="home">
                 <span>{{ site.title}} </span>
             </a>
        </h1>
        <h2 class="site-description"><span>{{site.description}}</span></h2>
        </div>
     </div>
</header>
